{% extends 'core/base.html' %}

{% block title %}Welcome | {% endblock %}

{% block content %}
    <div class="columns is-multiline mb-6">
        <div class="column is-12 has-text-centered mt-6 mb-6">
            <h2 class="is-size-3">Products</h2>
        </div>

        {% for product in newest_products %}
            <div class="column is-3 product-list-item">
                <div class="box">
                    <figure class="image ">
                        <img src="{{ product.image.url }}">
                    </figure>
            
                    <h2 class="subtitle">{{ product.title }}</h2>
            
                    <h3 class="subtitle is-size-6 mb-5">₹{{ product.price }}</h3>
            
                    <hr>
            
                    <a href="{% url 'product' product.category.slug product.slug %}" class="ui button primary">View</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
